* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: "Sora", sans-serif;
  position: relative;
}

:root {
  --bg-header: #10375c;
}

/* common */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

.btn a {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.btn {
  padding: 9px 21px;
  border-radius: 22px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.row {
  display: flex;
}
/* header */
.anchor {
  position: sticky;
  z-index: 1;
  top: -30px;
  background: var(--bg-header);
}

.header .container {
  padding-top: 36px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  background: var(--bg-header);
}

.logo {
  display: flex;
  position: relative;
  font-size: 1em;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: #2e80ce;
}

.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background: #fff;
}

.logo__name {
  color: #fff;
  text-align: right;
  font-size: 1.8em;
  margin-left: 0.6em;
}

.logo__brand {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 0.6em;
}

/* nav */
.nav {
  margin: 0 auto;
}
.nav .nav__list {
  display: flex;
}

.nav li a {
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 8px 21px;
}

.nav li a.active {
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.nav li a.active::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  top: 15px;
  left: 8px;
}

/* action */

.log_in {
  margin-right: 18px;
  padding: 8px 10px;
  color: #c9d2da;
  font-size: 16px;
  font-weight: 300;
}

/* hero */
.hero {
  background: #10375c;
  padding-bottom: 110px;
}

.hero .container {
  display: flex;
}

.hero h1.title {
  margin-top: 144px;
  width: 517px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -1.4px;
}

.hero p.desc {
  width: 468px;
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.hero .row {
  align-items: center;
  margin-top: 38px;
}

.hero a.btn {
  padding: 15px 23px;
  margin-right: 38px;
}

.hero .row a {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.hero__img {
  margin-left: 113px;
  border-radius: 6px;
  width: 100%;
  object-fit: cover;
}

.hero .img__one {
  width: 330px;
  height: 540px;
}

.hero .img__two {
  width: 210px;
  height: 410px;
  margin-right: 141px;
}

/* sevices */
.services {
  padding: 170px 0;
}

.services h2.title {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.services p.desc {
  margin: 0 auto;
  width: 468px;
  color: #575f66;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.services .content_desc {
  margin-top: 70px;
}

.services .img__services {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.services .img__sp {
  margin-left: 130px;
  width: 470px;
  height: 128px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services .img__sp h3 {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.services .img__sp p.desc {
  margin-top: 8px;
  width: 308px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  text-align: start;
}

.services .row .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .list {
  margin-left: 19px;
  padding: 21px;
}

.btn__services {
  display: inline-flex;
  margin-top: 70px;
  padding: 15px 48px;
}

/* work */
.work {
  padding: 100px 0;
  background: #f6fbff;
}

.work .list .first {
  margin-top: -30px;
  width: 370px;
  height: 402px;
  border: 16px solid #2e80ce;
}

.work .list__info img {
  margin-top: 43px;
  margin-left: 42px;
}

.work h2.title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.work p.desc {
  margin-top: 18px;
  width: 468px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.work .list {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.work .list__info {
  width: 338px;
  height: 370px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  background: #fff;
}

.work .list__info h3 {
  margin-left: 42px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
}

.work p.sub-desc {
  margin: 28px 0 18px 42px;
  width: 254px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.work .list__info a {
  margin-left: 42px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
}

/* method */
.method {
  padding: 170px 0 300px;
}

.method .container .row {
}

.method .row .figure,
.method .row .figcaption {
  flex: 1;
}

.method figure img {
  object-fit: cover;
  border-radius: 6px;
}

.method figure .image__one {
  top: 0;
  left: -25px;
  position: absolute;
  width: 512px;
  height: 370px;
  box-shadow: rgba(0, 0, 0, 0.07);
}

.method .figure {
  position: relative;
}

.method figure .image__two {
  position: absolute;
  top: 120px;
  left: 220px;
  width: 332px;
  height: 370px;
}

.method .row .figcaption {
  margin-left: 130px;
}

.method h2.title {
  margin-top: 80px;
  width: 470px;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.method .figcaption p.desc {
  margin-bottom: 48px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.method .btn {
  padding: 15px 52px;
  border-radius: 30px;
}

/* virtual */
.virtual {
  padding: 0 0 170px 0;
}

.virtual h2.title {
  margin-bottom: 38px;
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.virtual a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 70px;
  width: 205px;
  height: 60px;
  border-radius: 30px;
  background: #2e80ce;
}

.virtual a.name {
  margin-left: 60px;
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.virtual p.desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
}

.virtual ul li + li {
  margin-left: 23px;
}

.virtual .next__page {
  justify-content: center;
  display: flex;
  margin-top: 38px;
}

.virtual .square,
.new .square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #000;
}

.virtual a.bigger,
.new a.bigger {
  margin-left: 18px;
  background: #2e80ce;
  border: 1px solid #2e80ce;
}

/* advertise */
.advertise {
  background: #2e80ce;
  margin-top: 100px;
}

.advertise h2.title {
  width: 489px;
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.advertise .ad__block {
  display: flex;
  position: relative;
}

.advertise .ad__block .content {
  flex: 1;
  margin: 0 auto 0 514px;
  padding: 76px 0;
}

.advertise .img__ad {
  position: absolute;
  bottom: 0;
  left: 70px;
}

.advertise p.desc {
  margin-top: 18px;
  width: 586px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.advertise .app {
  margin-top: 38px;
}

.advertise .app a + a {
  margin-left: 28px;
}

/* news */
.new {
  padding: 170px 0;
}

.new .page__one,
.new .page__two {
  width: 270px;
  height: 375px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
}

.new h2.title {
  margin-bottom: 28px;
  width: 470px;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.new .page h3 {
  margin-left: 22px;
  margin-top: 18px;
  width: 224px;
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62;
}

.new .page p.sub-desc {
  margin-left: 22px;
  margin-top: 10px;
  width: 226px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.72;
}

.new .page a {
  margin-left: 22px;
  margin-top: 12px;
  color: #2e80ce;
  font-size: 1.4rem;
  font-weight: 400;
}

.new .page .btn-more {
  color: #10375c;
}

.new a.navi {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.55;
  text-decoration-line: underline;
}

.new .next__page {
  display: flex;
  margin-top: 28px;
}

.new__info {
  display: flex;
}

.new__info .text,
.new__info .page {
  flex: 1;
}

.new .page .page__two {
  margin-left: 30px;
}

/* welcome */
.welcome {
  margin: 0 auto;
  width: 1170px;
  height: 452px;
  background: #f6fbff;
}

.welcome .container {
  padding: 100px 0;
}

.welcome h2.title {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.welcome .rec {
  margin: 18px auto;
  width: 136px;
  height: 2px;
  background: #2e80ce;
}

.welcome p.desc {
  margin: 0 auto 38px;
  width: 617px;
  color: #575f66;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.welcome a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.welcome .btn {
  padding: 15px 40px;
  width: 205px;
  height: 60px;
  border-radius: 30px;
  background: #2e80ce;
}

/* footer */

.footer {
  font-family: "Open Sans", sans-serif;
  padding: 100px 0 42px;
  background: #10375c;
}

.footer__row {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
}

.footer__column h3 {
  margin-top: 28px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.footer__list {
  margin-top: 20px;
}

.footer__column li + li {
  margin: 10px 0;
}

.footer__column a {
  color: #a9b3bb;
  font-size: 1.4rem;
  font-weight: 400;
}

.footer__desc {
  margin-top: 21px;
  color: #a9b3bb;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}

.footer__item {
  margin-top: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: #2e80ce;
}

.footer__item + .footer__item {
  margin-left: 9px;
  background: #fff;
}

.footer .footer__form {
  margin-top: 10px;
  color: #9ca8b1;
  font-size: 1.4rem;
  font-weight: 400;
}

.footer__form-input {
  background: #10375c;
  color: #9ca8b1;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0 10px;
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
}

.footer__btn {
  outline: none;
  margin-left: 10px;
  width: 108px;
  height: 46px;
  border-radius: 4px;
  background: #2e80ce;
  border: 1px solid #2e80ce;
}

.rectangle {
  margin: 28px auto;
  width: 1170px;
  height: 1px;
  background: #406181;
}

.copyright {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #aab3ba;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
}
